{% extends 'base.html' %}
Lets see man
{% block content %}



<body>
<br/><br/>



<h1><a href="{% url 'create' %}">Create Post</a></h1>
<br/><br/>


<form method="get" action="">
    <input type="text" placeholder="Search Post" name="q" value="{{ request.GET.q }}">
    <input type="submit" value="Search">
    </form>

    <br/><br/>
    {% for story in storylist %}

  <h1> <a href="{% url 'details' id=story.id %}">{{ story.title }}</a>  <br/></h1>
                                     <h4>  {{ story.user.first_name }} </h4>
        {{ story.publish|timesince }}



        <br/><br/><br/>

    {% endfor %}
</body>

{% endblock content %}


